model.xsd/CrashDriver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://example.com/CrashDriver/1.3/"
  xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/"
  xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/"
  xmlns:exch="http://example.com/CrashDriver/1.3/"
  xmlns:hs="https://docs.oasis-open.org/niemopen/ns/model/domains/humanServices/6.0/"
  xmlns:j="https://docs.oasis-open.org/niemopen/ns/model/domains/justice/6.0/"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:niem-xs="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/"
  xmlns:priv="http://example.com/PrivacyMetadata/2.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#SubsetSchemaDocument"
  version="1"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>This is the extension schema for an example IEPD used to illustrate guidance for representing an IEP in JSON-LD syntax.</xs:documentation>
    <xs:appinfo>
      <appinfo:Augmentation class="exch:PersonFictionalGenreCodeType" property="priv:PrivacyMetadata"/>
      <appinfo:Augmentation class="nc:PersonNameType" property="priv:privacyRelationCode"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://example.com/PrivacyMetadata/2.0/" schemaLocation="PrivacyMetadata.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/domains/humanServices/6.0/" schemaLocation="niem/domains/hs.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/domains/justice/6.0/" schemaLocation="niem/domains/justice.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" schemaLocation="niem/niem-core.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-gml/6.0/" schemaLocation="niem/adapters/niem-gml.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/" schemaLocation="niem/adapters/niem-xs.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="niem/utility/structures.xsd"/>
  <xs:complexType name="ChargeAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a charge.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="nc:Metadata" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="priv:PrivacyMetadata" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrashDriverInfoType">
    <xs:annotation>
      <xs:documentation>A data type for a collection of legal charges associated with the driver of a vehicle in a crash.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="j:Crash"/>
          <xs:element ref="j:Charge" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="j:PersonChargeAssociation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonUnionAssociation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hs:PersonOtherKinAssociation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="exch:ReferenceObjects" minOccurs="0"/>
          <xs:element ref="exch:CrashDriverInfoAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InjuryAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an injury.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="priv:PrivacyMetadata" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonChargeAssociationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a personchargeassociation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="nc:Metadata" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="priv:PrivacyMetadata" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonFictionalGenreCodeType">
    <xs:annotation>
      <xs:documentation>A data type for the genre of a fictional character.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="niem-xs:token">
        <xs:enumeration value="MYSTERY"/>
        <xs:enumeration value="SF"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ReferenceObjectType">
    <xs:annotation>
      <xs:documentation>A data type for objects that do not apply to their parent (and appear only by reference).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:Metadata" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="priv:PrivacyMetadata" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="exch:ReferenceObjectAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChargeAugmentation" type="exch:ChargeAugmentationType" substitutionGroup="j:ChargeAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashDriverInfo" type="exch:CrashDriverInfoType" nillable="true">
    <xs:annotation>
      <xs:documentation>A collection of legal charges associated with the driver of a vehicle in a crash.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashDriverInfoAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for exch:CrashDriverInfoType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InjuryAugmentation" type="exch:InjuryAugmentationType" substitutionGroup="nc:InjuryAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about an injury.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonChargeAssociationAugmentation" type="exch:PersonChargeAssociationAugmentationType" substitutionGroup="j:PersonChargeAssociationAugmentationPoint">
    <xs:annotation>
      <xs:documentation>Additional information about a personchargeassociation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFictionalCharacterIndicator" type="niem-xs:boolean" substitutionGroup="nc:PersonAugmentationPoint">
    <xs:annotation>
      <xs:documentation>True if this person is a fictional character in a literary work; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFictionalGenreCode" type="exch:PersonFictionalGenreCodeType" substitutionGroup="nc:PersonAugmentationPoint">
    <xs:annotation>
      <xs:documentation>A genre of a fictional character.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReferenceObjectAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for exch:ReferenceObjectType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReferenceObjects" type="exch:ReferenceObjectType" nillable="true">
    <xs:annotation>
      <xs:documentation>Objects that do not apply to their parent (and appear only by reference).</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
