model.xsd/PrivacyMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://example.com/PrivacyMetadata/2.0/"
  xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/"
  xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:niem-xs="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/"
  xmlns:priv="http://example.com/PrivacyMetadata/2.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#SubsetSchemaDocument"
  version="1"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>An example of what might be in a privacy metadata namespace</xs:documentation>
  </xs:annotation>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" schemaLocation="niem/niem-core.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/" schemaLocation="niem/adapters/niem-xs.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="niem/utility/structures.xsd"/>
  <xs:simpleType name="PrivacyCodeSimpleType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="MEDICAL"/>
      <xs:enumeration value="PII"/>
      <xs:enumeration value="RESTRICTED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PrivacyCodeType">
    <xs:simpleContent>
      <xs:extension base="priv:PrivacyCodeSimpleType">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PrivacyMetadataType" appinfo:referenceCode="IDREF">
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:SourceIDText" minOccurs="0"/>
          <xs:element ref="priv:PrivacyCode" maxOccurs="unbounded"/>
          <xs:element ref="priv:PrivacyMetadataAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PrivacyCode" type="priv:PrivacyCodeType" nillable="true"/>
  <xs:attribute name="privacyRelationCode" type="priv:PrivacyCodeSimpleType" appinfo:relationshipPropertyIndicator="true"/>
  <xs:element name="PrivacyMetadata" type="priv:PrivacyMetadataType" nillable="true"/>
  <xs:element name="PrivacyMetadataAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for priv:PrivacyMetadataType.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
