message.xsd/CrashDriver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://example.com/CrashDriver/1.3/"
  xmlns:exch="http://example.com/CrashDriver/1.3/"
  xmlns:hs="https://docs.oasis-open.org/niemopen/ns/model/domains/humanServices/6.0/"
  xmlns:j="https://docs.oasis-open.org/niemopen/ns/model/domains/justice/6.0/"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:priv="http://example.com/PrivacyMetadata/2.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  version="1"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>This is the extension schema for an example IEPD used to illustrate guidance for representing an IEP in JSON-LD syntax.</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://example.com/PrivacyMetadata/2.0/" schemaLocation="PrivacyMetadata.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/domains/humanServices/6.0/" schemaLocation="niem/domains/hs.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/domains/justice/6.0/" schemaLocation="niem/domains/justice.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" schemaLocation="niem/niem-core.xsd"/>
  <xs:complexType name="ChargeAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a charge.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="nc:Metadata" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="priv:PrivacyMetadata" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrashDriverInfoType">
    <xs:annotation>
      <xs:documentation>A data type for a collection of legal charges associated with the driver of a vehicle in a crash.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="j:Crash"/>
      <xs:element ref="j:Charge" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="j:PersonChargeAssociation" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="nc:PersonUnionAssociation" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="hs:PersonOtherKinAssociation" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="exch:ReferenceObjects" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InjuryAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an injury.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="priv:PrivacyMetadata" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a person.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="PersonChargeAssociationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a personchargeassociation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="nc:Metadata" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="priv:PrivacyMetadata" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonFictionalGenreCodeAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a personfictionalgenrecode.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
  <xs:simpleType name="PersonFictionalGenreCodeSimpleType">
    <xs:annotation>
      <xs:documentation>A data type for the genre of a fictional character.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="MYSTERY"/>
      <xs:enumeration value="SF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonFictionalGenreCodeType">
    <xs:annotation>
      <xs:documentation>A data type for the genre of a fictional character.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="exch:PersonFictionalGenreCodeSimpleType">
        <xs:attribute ref="priv:privacyMetadataRef"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a personname.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="ReferenceObjectType">
    <xs:annotation>
      <xs:documentation>A data type for objects that do not apply to their parent (and appear only by reference).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="nc:Metadata" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="priv:PrivacyMetadata" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChargeAugmentation" type="exch:ChargeAugmentationType">
    <xs:annotation>
      <xs:documentation>Additional information about a charge.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CrashDriverInfo" type="exch:CrashDriverInfoType">
    <xs:annotation>
      <xs:documentation>A collection of legal charges associated with the driver of a vehicle in a crash.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InjuryAugmentation" type="exch:InjuryAugmentationType">
    <xs:annotation>
      <xs:documentation>Additional information about an injury.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAugmentation" type="exch:PersonAugmentationType">
    <xs:annotation>
      <xs:documentation>Additional information about a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonChargeAssociationAugmentation" type="exch:PersonChargeAssociationAugmentationType">
    <xs:annotation>
      <xs:documentation>Additional information about a personchargeassociation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFictionalCharacterIndicator" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>True if this person is a fictional character in a literary work; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFictionalGenreCode" type="exch:PersonFictionalGenreCodeType">
    <xs:annotation>
      <xs:documentation>A genre of a fictional character.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFictionalGenreCodeAugmentation" type="exch:PersonFictionalGenreCodeAugmentationType">
    <xs:annotation>
      <xs:documentation>Additional information about a personfictionalgenrecode.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonNameAugmentation" type="exch:PersonNameAugmentationType">
    <xs:annotation>
      <xs:documentation>Additional information about a personname.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReferenceObjects" type="exch:ReferenceObjectType">
    <xs:annotation>
      <xs:documentation>Objects that do not apply to their parent (and appear only by reference).</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
